@{
    ViewData["Title"] = "Home Page";
}

<!--== Start Event Hero Banner Area ==-->

<div class="page-header-wrapper  bg-img position-relative">
    <div class="header-bg-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-11 text-center m-auto">
                <div class="page-header-content  text-white">
                    <h1 class="mb-150 pb-150 text-white  font-weight-bold"> Online Application Portal</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="services-content-wrapper pb-10 pb-md-10 pb-sm-10 drive-with-us ">
    <div class="container">
       
    </div>
</section>
@section Scripts {

    <script type="text/javascript">
        
    </script>
}
